EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_BASE_URL=https://app.phyrexianarena.dpdns.org
EXPO_PUBLIC_SITE_URL=https://app.phyrexianarena.dpdns.org
EXPO_PUBLIC_TURNSTILE_SITE_KEY=
EXPO_PUBLIC_SUPPORT_EMAIL=support@phyrexianarena.dpdns.org
